.posts-block{
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 0 10px;
    padding-bottom: 20px;
    flex-grow: 10;
    margin-bottom: 50px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
}
.posts-block h3 {
    text-align: center
}
.posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

}