.ProseMirror {
  border: 1px solid black;

  > * + * {
    margin-top: 0.75em;
  }
}

.post-info {
  position: relative;
  padding: 20px 10px;
  border: 2px solid gainsboro;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  background: whitesmoke;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    margin: 5px;

    > button {
      font-size: 18px;
      padding: 5px 10px;
      margin-right: 5px;
      background: lightcyan;
      border:2px solid gainsboro;
      &:hover{
        border-color: lightblue;
      }
      &:active{
        background: lightblue;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .post-info {
    min-width: 300px;
    margin: 0;
  }
}