.block-4 {
    max-width: 1000px;
    padding: 0 15px;
    margin: 10% auto;
}

.list-4{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    /*     border: 2px solid #d9d9d9;
        box-sizing: content-box; */
    background: url('../../assets/img/ic-2-list4.png') 23px 0 repeat-y;
    font-size: 11px;
    font-weight: normal;
    color: #656565;
    position: relative;
    z-index: 1;
}
.list-4 li{
    line-height: 23px;
    list-style: none;
    border: 1px solid transparent;
    border-bottom-color:#add6ff;
    border-right-color: #d9d9d9;
    border-left-color: #d9d9d9;
    width: 202px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.list-4 li:nth-child(n+3):before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../../assets/img/ic-1-list4.png) 0 0 no-repeat;
    margin-left: 4px;
    margin-right: 23px;
}
.list-4 li:last-child::before{
    content: "";
    background: none;

}
.list-4 li:last-child{
    border-bottom-color: #d9d9d9;
}
.list-4 li:nth-child(2){

    background: url(../../assets/img/ic-3-list4.png) 0 0 repeat-x;
    color: transparent;
}
.list-4 li:first-child{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #424242;
    color: #fff;
    text-align: center;
    border: 1px solid #424242;
    border-radius: 4px 4px 0 0;
    padding-bottom: 3px;
    padding-top: 1px;
}
.list-4::before{
    content: "";
    display: block;
    height: 2px;
    width: 194px;
    border: 1px solid #d9d9d9;
    position: absolute;
    bottom: -3px;
    left: 7px;
    z-index: -1;
}
.list-4::after{
    content: "";
    display: block;
    height: 2px;
    width: 188px;
    border: 1px solid #d9d9d9;
    position: absolute;
    bottom: -6px;
    left: 10px;
    z-index: -2;
}