.post-wrapper {
    min-width: 200px;
    display: inline-block;
    border: 3px solid #b6b6b6;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 4px;
    background: oldlace;
    margin: 5px;
}

.post-time {
    font-size: 16px;
    color: grey;
    font-style: italic;
}

.title {
    font-family: -apple-system, sans-serif;
    font-style: italic;
    margin: 10px 0;
}
.post-wrapper a{
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid gainsboro;
    background: lightsteelblue;
    border-radius: 20%;
    color: #3b0c0c;
}
.post-wrapper a:hover{
    border-color: lightblue;
}
.post-wrapper a:active{
    background: #9087b1;
}
/*

$mRed: #e84c3d
$mYellow: #fdbd1f
$mGreen: #1bbc9b
$mPurle: #9b58b5
$bgVistribum: #29606b
$bgInputColor: #245963
$vistribumFont: 'Source Sans Pro', sans-serif

=sm
@media screen and (max-width: 400px)
    @content
    =md
    @media screen and (max-width: 700px)
    @content
    =lg
    @media screen and (max-width: 900px)
    @content
    =uLg
    @media screen and (max-width: 1200px)
    @content
    =mainFontSet ($default, $large, $medium, $small, $color, $weight)
    font-size: $default
    +lg
    font-size: $large
    +md
    font-size: $medium
    +sm
    font-size: $small
    color: $color
    font-weight: $weight
    =linkTriangle ($color)
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 14px 13px 0 13px
    border-color: $color transparent transparent transparent
    position: absolute
    top: 100%
    left: 50%
    transform: translateX(-50%)
    =customIcon ($width, $height, $imgUrl)
    content: ""
    display: block
    width: $width
    height: $height
    border-radius: 50%
    background-repeat: no-repeat
    background-position: 50% 50%
    background-image: url(../img/#{$imgUrl}.png)
    margin: 0 auto 20px
    background-color: white
    =bgInput
    background: $bgInputColor

    =placeholder
    &::placeholder
    @content
    &:-ms-input-placeholder
    @content
    &::-ms-input-placeholder
    @content
    */
