$bgVistribum: white;
$bgInputColor: #c9e3ea;
$bgBtnSubmit: #245461;

@mixin sm {
  @media screen and (max-width: 400px) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: 700px) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: 900px) {
    @content;
  }
}
@mixin mainFontSet ($default, $large, $medium, $small, $color, $weight) {
  font-size: $default;
  @include lg {
    font-size: $large;
  }
  @include md {
    font-size: $medium;
  }
  @include sm {
    font-size: $small;
  }
  color: $color;
  font-weight: $weight;
}

@mixin customIcon ($width, $height) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../../assets/img/contact-form-ic.png);
  margin: 0 auto 20px;
  background-color: white;
}
@mixin bgInput {
  background: $bgInputColor;
}
@mixin placeholder {
  &::placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}
@mixin linkTriangle ($color) {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 13px 0 13px;
  border-color: $color transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.connect-form {
  background: $bgVistribum;
  padding: 35px 0 90px;
  h3 {
    padding-top: 10px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    line-height: 42px;
    @include mainFontSet(29px,25px,20px,18px,inherit,normal);
    span {
      @include mainFontSet(21px,18px,17px,16px,inherit,normal);
      display: block;
    }
    width: 60%;
    @include md {
      width: 100%;
    }
    margin: 0 auto;
  }
  h3::before {
    @include customIcon(100px,100px);
  }
}
.connect-form-block {
  width: 50%;
  @include md {
    width: 100%;
  }
  margin: 0 auto;
  form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    input {
      padding: 12px 15px;
      margin-bottom: 30px;
      @include bgInput;
      border: 2px solid #387d89;
      width: 47.5%;
      @include md {
        width: 100%;
      }
      @include placeholder {
        color: #76b2be;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
    }
    textarea {
      padding: 10px 15px 5px;
      border: 2px solid #387d89;
      margin-bottom: 28px;
      @include bgInput;
      width: 100%;
      @include placeholder {
        color: #76b2be;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
    }
    button {
      font-size: 15px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 9px 27px;
      position: relative;
      border: none;
      &::after {
        @include linkTriangle($bgBtnSubmit);
      }
      background: $bgBtnSubmit;
      margin: auto;
    }
  }
}