.NavBar {
    display: flex;
    font-size: 25px;
    list-style: none;
    justify-content: flex-end;
    padding: 10px 0;
}

.NavBar a {
    color: #6c5327;
    margin:  0 10px;
    text-decoration: none;
}
.NavBar a:hover{
    color: #a7803c;
    text-decoration: underline;
}
.NavBar li{
    border-right: 1px  solid grey;
}
.NavBar li:last-child{
    border: none;
}