.AddPost-wrapper {
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid lightgray;
    background: whitesmoke;
    padding: 20px 10px;
    position: relative;
}

.AddPost-wrapper input {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 2px solid gainsboro;
    border-radius: 4px;
    outline: none;
    display: block;
}

.AddPost-wrapper input:hover {
    border-color: darkolivegreen;
}

.AddPost-wrapper input:focus {
    border-color: black;
}
.post-title{
    text-align: center;
}

.MenuBar {
    margin-top: 10px;
}

.MenuBar button {
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    background: lightcyan;
    border-color: gainsboro;
}
.MenuBar button:hover{
    background-color: lightblue;
    color: black;
}
.MenuBar .is-active{
    background: lightslategray;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .AddPost-wrapper {
        max-width: 80%;
    }

    .AddPost-wrapper input {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .AddPost-wrapper {
        max-width: 100%;
    }
}
.addBtn{
    background: #a9e749;
    box-shadow: 0 1px 7px 2px rgba(152,149,149,0.3);
    -webkit-box-shadow: 0 1px 7px 2px rgba(152,149,149,0.3);
    -moz-box-shadow: 0 1px 7px 2px rgba(152,149,149,0.3);
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
}
.addBtn:hover{
    background: #a4d954;
}
.addBtn:active{
    background: #8bb848;
}