.ProseMirror {
  padding: 10px;
  margin: 20px 0;
  border: 2px solid gainsboro;
  border-radius: 4px;
  background: white;

  &:hover {
    border-color: darkolivegreen;
  }

  > * + * {
    margin-top: 0.75em;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    min-width: 90%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  hr {
    margin: 1rem 0;
  }

  blockquote {
    background: whitesmoke;
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

}